.home__dialog-input{
    padding: 5px 35px 0px;
    position: relative;
    svg{
        cursor:pointer
    }
    & > span{
        height: 50px;
        padding: 10px 15px;
    }
    button{
        border:none;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    input{
        font-size: 14px;        
    }
    &-actions{
        width: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > span{
            display: flex;
            align-items: center;
        }
        
    }

    &-smiles{
        position: absolute;
        bottom:82%;
        .emoji-group{
            li{
                margin: 5px;
            }
        }
    }

    .ant-input-prefix{
        margin-right: 10px;
    }
    
}