.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    button{
        width:100%
    }
    &__title{
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 8px;
    }
    &__subtitle{
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: .8px;
        margin-bottom: 50px;
    }
    &__reg{
        align-items: center;
    }
}