@import '~antd/dist/antd.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}



html,
body,
#root,
.App,
.auth__wrap,
.home{
    height: 100vh;
    font-family: 'Roboto' sans-serif;
}

@import '../components/DialogsItem/DialogsItem.scss'


